@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lato:wght@300&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url(Noonecares.jpg);
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #F5449D;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin-left: 1rem;
    font-family: 'Krona One', sans-serif;
    padding: 1.5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1.75rem;
    font-family: 'Krona One', sans-serif;
}

.navbar-links a:hover {
    color: rgb(46, 46, 46);
}

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .column {
        width: 100%;
        display: block;
    }

    .contact {
        padding: 50px;

    }

    .container {
        flex-direction: column;
    }

    .container .contactinfo {
        margin-bottom: 40px;
    }

    .container .contactinfo,
    .contactform {
        width: 100%;
    }
}

.welcome {
    text-align: center;
    font-family: 'Krona One', sans-serif;
    margin-top: 80px;
    font-size: clamp(20px, 5vw, 80px);
    color: white;
}

.section {
    margin-bottom: 0;
}

.footer {
    padding: 40px 0;
    background-color: #F5449D;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0.8px;
    opacity: 0.75;
}

.footer .social a:hover{
    opacity: 0.9;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: white;
    text-decoration: none;
    
    opacity: .8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    opacity: 1;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: white;
}

*, *:before, *:after {
    box-sizing: inherit;
}
/* Three columns side by side */


.column {
    float: left;
    width: 33%;
    margin-bottom: 16px;
    padding: 0 8px;
    
}
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgb(80, 78, 78);
    background-color: white;
}
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0px 16px;
}
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
  
  .title {
    color: grey;
}
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #555;
  }


.name {
      color: white;
}

.credits {
     
      color: white;
}

.none {
    display: none;
}

.lyrics {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    text-align: center;

    padding-top: 50px;
    padding-bottom: 10px;
    background-color: #F5449D;
    margin-bottom: 30px;
    font-family: Pangolin, cursive;
    stroke: black;
    stroke-width: 10px;
    color: white;
}

.fbpage {
    display: flex;
    font-size: 32px;
    font-family: "Krona One", sans-serif;
    margin-top: 50px;
    margin-bottom: 20px;
    justify-content: center;
    color: white;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

iframe {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}